Django==5.2.4
daphne
django-allauth
django-simple-captcha
google-generativeai
Pillow
numpy
websockets
gunicorn
dj-database-url
psycopg2-binary
django-storages
boto3
whitenoise
PyJWT
channels-redis
