{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/authentication.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/css/bootstrap-grid.min.css"
        integrity="sha512-dOjUSaLkr6G2pwQ7ry9juX+iXw5602zg1kg8yH+guR3uSEidGyCnOEQnGlr7xwu/8WE+pVm1ZNqaIs5ETTIJQg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <div class="content-wrapper">
        <div class="image-section">
            <img src="https://cdni.iconscout.com/illustration/premium/thumb/login-3305943-2757111.png"
                alt="Security illustration">
        </div>

        <div id="loginForm" class="form-section active">
            <div class="login-box">

                <h1>Welcome Back!</h1>
                <p class="subheading">Sign in to continue to PyCodeFlow.</p>

                <form action="{% url 'auth' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" placeholder="you@example.com" required>
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" placeholder="••••••••" required>
                    </div>


                    {% if messages %}
                    <div>
                        {% for message in messages %}
                        <div class="message {{message.tags}}">
                            {{ message }}
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}


                    <button type="submit" name="form_type" value="login" class="login-btn">Login</button>
                </form>

                <div class="separator">OR</div>

                <p class="signup-link">
                    Don't have an account? <a href="#" onclick="toggleForm('signupForm')">Sign Up</a>
                </p>
            </div>
        </div>
        <div id="signupForm" class="form-section">
            <div class="login-box">
                {% if messages %}
                <div>
                    {% for message in messages %}
                    <div class="message {{message.tags}}">
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                <h1>Create an Account</h1>
                <p class="subheading">Get started with PyCodeFlow today.</p>

                <form action="{% url 'auth' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="fullname">Full Name</label>
                        <input type="text" id="fullname" name="name" placeholder="John Doe" required>
                    </div>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" placeholder="you@example.com" required>
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" placeholder="••••••••" required>
                    </div>

                    <div class="form-group">
                        <label for="confirm-password">Confirm Password</label>
                        <input type="password" id="confirm-password" onkeyup="validate()" name="confirm-password"
                            placeholder="••••••••" required>
                    </div>
                    <div class="form-group">
                        <p id="msg" class="text-danger"> hel</p>
                    </div>

                    <button type="submit" name="form_type" value="signup" class="login-btn">Sign Up</button>
                </form>

                <p class="signup-link" style="margin-top: 1.5rem;">
                    Already have an account? <a href="# " onclick="toggleForm('loginForm')">Log In</a>
                </p>
            </div>
        </div>
    </div>

    <p class="footer-link">
        Learn more about <a href="#">PyCodeFlow</a>
    </p>



<script src="{% static 'js/authentication.js' %}"></script>

</body>

</html>